.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding:10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-idexSort p span {
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap:80px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width:233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
.ex{

        width: 310px;
        height: 70px;
        outline: none;
        border: 1px solid white;
        border-radius: 75px;
        color: white;
        font-size: 20px;
        font-weight: 500;
        background: red;
        cursor: pointer;
     }
/* Add this to your CSS file */
.otp-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .otp-modal-content {
    background: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .otp-box {
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .otp-box p {
    font-size: 20px;
    color: #333;
  }
  
  .otp-box button {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .otp-box button:hover {
    background: #0056b3;
  }
  